<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="screen" />
		<script type="text/javascript" src="../libs/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="app">
		<player-form></player-form>
		<section ng-controller="boardController" class="container" ng-show="readyToPlay">
			<h1 class="player-info" ng-repeat="player in players.getAsArray()">
				Player {{$index + 1}}: {{player.name}}
			</h1>
			<div class="board" >
				<div ng-repeat="item in board" class="grid-square" ng-click="setPiece($index)">
					{{item}}
				</div>
				<h2>Turn Count: {{currentTurn}}</h2>
				<div  ng-show="gameOver" class="game-over-details">
					<h1>{{players.getCurrentPlayer(currentTurn).name}} wins!</h1>
					<button ng-click="reset()">Play Again?</button>					
				</div>
			</div>
		</section>
	</body>
</html>