<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="screen" />
		<script type="text/javascript" src="../libs/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="app">
		<section ng-controller="gridController" class="container">
			<h2 class="player-info" ng-repeat="player in players">
				Player {{$index + 1}}: {{player.name}}
			</h2>
			<div class="board" >
				<div ng-repeat="item in board" class="grid-square" ng-click="setPiece($index)">
					{{item}}
				</div>
				<span>Turn Count: {{currentTurn}}</span>
			</div>
		</section>
	</body>
</html>